{% extends 'base.html' %}

{% block bodyblock %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>ESPECIFICACIONES DEL PROYECTO</h2>
                </div><img src="/Users/maria/PycharmProjects/EmotionProjectDetector/static/img/Captura%20de%20pantalla%202022-02-06%20a%20las%2016.28.47.png" style="width: 639px;margin-right: 14px;transform: translate(129px);margin-top: -53px;">
                <div class="row" style="margin-top: 52px;">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Descripción</h3>
                        <p>El objetivo&nbsp; a cubrir con este proyecto consiste en estudiar la evolución de las redes neuronales convolucionales profundas en el reconocimiento de emociones y proponer un resultado óptimo con la unión de las bases de datos de AffectNet y FER2013.<br></p>
                        <p>Lorem ipsum dapibus dolor non, malesuada mauris. Aliquam eleifend mauris non odio mattis auctor. Aenean sit amet elementum tellus, a facilisis ligula. Pellentesque ac vehicula mauris.</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Tags&nbsp;</span></div>
                        <p>CNN, AffectNet,&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FER2013,&nbsp;<br>Aprendizaje profundo,&nbsp;<br>Reconocimiento de emociones,&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tranfer learning<br><br><br><br><br><br></p>
                    </div>
                </div>
                <div class="more-projects">
                    <h3 class="text-center"><br>Gracias a la evolución en los últimos años en<br>el campo de la visión por computadora se ha conseguido mejorar la precisión de<br>los modelos.&nbsp;<br></h3>
                </div>
            </div><img src="/Users/maria/PycharmProjects/EmotionProjectDetector/static//img/Captura%20de%20pantalla%202022-02-06%20a%20las%2016.12.34.png" style="width: 400px;transform: translate(297px);">
            <div class="alert alert-success" role="alert" style="background: rgb(205,235,248);margin-top: 42px;"><span style="text-align: center;"><br><br><br><br><br></span>
                <p style="text-align: center;height: 120px;margin-top: -103px;color: #002e71;">Las redes neuronales convolucionales (CNN) basadas<br>en el aprendizaje profundo han mostrado su potencial en la clasificación de<br>imágenes debido a su teoría de aprendizaje en capas sucesivas que permite la<br>extracción de características tanto a bajo nivel hasta llegar a un nivel cada<br>vez mayor.</p>
            </div>
        </section>
    </main>

{% endblock  %}